/* ##### FONT IMPORT ##### */
@font-face {
	font-family: "JetBrains";
	src: url("assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "JetBrains";
	src: url("assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "JetBrains";
	src: url("assets/fonts/static/JetBrainsMono-Bold.ttf");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "JetBrains";
	src: url("assets/fonts/static/JetBrainsMono-BoldItalic.ttf");
	font-style: italic;
	font-weight: bold;
}

/* ##### ROOT ##### */
:root {
	--color-dark-green: #071306;
	--color-green: #34942f;
	--color-light-green: #a8e3a5;
	--color-white: #f4f4f4;
	--color-dark: #252725;

	--font-size-small: 1rem;
	--font-size-normal: 1.125rem;
	--font-size-medium: 1.25rem;
	--font-size-large: 1.5rem;
}
* {
	box-sizing: border-box;
}
body {
	font-family: JetBrains;
}
