/* ##### FONT IMPORT ##### */
@font-face {
	font-family: "JetBrains";
	src: url("assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "JetBrains";
	src: url("assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "JetBrains";
	src: url("assets/fonts/static/JetBrainsMono-Bold.ttf");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "JetBrains";
	src: url("assets/fonts/static/JetBrainsMono-BoldItalic.ttf");
	font-style: italic;
	font-weight: bold;
}

/* ##### ROOT ##### */
:root {
	--color-red: #f64a4a;
	--color-neon-green: #a4ffaf;
	--color-orange: #fb7c58;
	--color-yellow: #f8cd65;
	--color-gray: #817d92;
	--color-dark-gray: #24232c;
	--color-dark-gray-alt: #18171f;
	--color-gray-alt: #e6e5ea;

	--font-size-normal: 1rem;
	--font-size-medium: 1.5rem;
	--font-size-large: 2rem;
}
* {
	box-sizing: border-box;
}
body {
	font-family: JetBrains;
}